@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="bg-secondary text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h3>BrainStormEra</h3>
                <div class="social-icons my-2">
                    <a href="https://github.com/LTPPPP/BrainStormEra" aria-label="Facebook"><i
                            class="fab fa-facebook me-2"></i></a>
                    <a href="https://github.com/LTPPPP/BrainStormEra" aria-label="Instagram"><i
                            class="fab fa-instagram me-2"></i></a>
                    <a href="https://github.com/LTPPPP/BrainStormEra" aria-label="Twitter"><i
                            class="fab fa-x-twitter"></i></a>
                </div>
                <p>2024 by BrainStormEra.</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h4>Contact Us</h4>
                <p class="mb-1">Tel: 123-456-789</p>
                <p>Email: brainstormera@edu.vn</p>
            </div>
            <div class="col-md-4">
                <h4>Address</h4>
                <p class="mb-1">123 Nguyen Van Cu, Cai Rang</p>
                <p>District, Cantho, Vietnam</p>
            </div>
        </div>
    </div>
</footer>