body {
    padding-top: 70px !important;
    background-color: var(--white-corlor) !important;
}


.sidebar {
    background-color: var(--white-color);
    border-radius: 14px;
    padding: 15px;
    min-height: 200vh;
    font-size: 2rem;
}

.main-header {
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: var(--light-blue-color);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.card-header {
    color: var(--black-color);
    font-weight: bold;
}

.text-primary {
    color: var(--black-color) !important;
}

.btn-success {
    background-color: var(--green-color);
    border: none;
}

    .btn-success:hover {
        background-color: var(--green-color);
    }

.return-btn{
    width: 200px;
    height: 100px;
    font-size: 1.5rem;
}

#add-chapter-button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    object-fit: cover;
    background-color: var(--create-btn-bg-color);
}
#add-chapter-button:hover{
    background-color: var(--create-btn-hover-bg-color);
}

.img-fluid {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#editor-container {
    height: 150px;
}



.selected-categories-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#selectedCategories {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    #selectedCategories li {
        z-index: 1050;
        display: inline-flex;
        align-items: center;
        margin: 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 20px;
        background-color: #f0f0f0;
    }

        #selectedCategories li .btn-close {
            margin-left: 5px;
            font-size: 0.8em;
            cursor: pointer;
        }


.list-group-item + .list-group-item {
    border-top-width: 0;
    z-index: 1070;
}
