.content-wrapper {
    display: flex;
    padding: 20px;
}

#lesson-title,
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#lesson-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Sidebar width */
.sidebar {
    width: 20%;
    padding-right: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

/* Submenu for lessons, initially hidden */
.submenu {
    display: none;
    padding-left: 20px;
    list-style: none;
}

.submenu li {
    padding: 5px 0;
}

/* Style for icons and items */
.submenu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.submenu-item:hover {
    background-color: #f1f1f1;
}

.submenu-item i {
    margin-right: 10px;
}

/* Toggle active submenu */
.active .submenu {
    display: block;
}

.main-content {
    width: 80%;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 10px;
}

.breadcrumb-item a {
    color: var(--link-color);
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.video-title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

iframe {
    width: 100%;
    height: 450px;
}

.fa-chevron-down {
    padding-left: 5px;
}

h3 {
    color: var(--main-color);
}

.container-fluid {
    background-color: var(--white-color);
}

#markCompletedButton {
    font-size: 1.2em;
    /* Tăng kích thước chữ */
    padding: 10px 20px;
    /* Tăng kích thước padding */
    margin-right: 20px;
    /* Thêm khoảng cách nếu cần */
    height: 50px;
    /* Đặt chiều cao cụ thể cho nút */
    border-radius: 30px;
}

.lesson-completed i.fa-check-circle {
    color: green;
    margin-left: 5px;
}

#lesson-media iframe {
    width: 100%;
    height: 500px;
}

.accordion-button::after {
    margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding-right: 0;
    }

    .main-content {
        width: 100%;
    }

    #lesson-title,
    h2 {
        font-size: 2rem;
    }

    #lesson-description {
        font-size: 1.2rem;
    }

    iframe {
        height: 300px;
    }

    #markCompletedButton {
        font-size: 1em;
        padding: 8px 16px;
        height: 40px;
    }
}

@media (max-width: 480px) {

    #lesson-title,
    h2 {
        font-size: 1.5rem;
    }

    #lesson-description {
        font-size: 1rem;
    }

    iframe {
        height: 250px;
    }

    #markCompletedButton {
        font-size: 0.9em;
        padding: 6px 12px;
        height: 35px;
    }
}